In [ ]:
from google.colab import drive

In [ ]:
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/data/Creditcard.csv')

In [ ]:
data.head()

   index                   City       Date  Card Type Exp Type Gender  Amount
0      0           Delhi, India  29-Oct-14       Gold    Bills      F   82475
1      1  Greater Mumbai, India  22-Aug-14   Platinum    Bills      F   32555
2      2       Bengaluru, India  27-Aug-14     Silver    Bills      F  101738
3      3  Greater Mumbai, India  12-Apr-14  Signature    Bills      F  123424
4      4       Bengaluru, India   5-May-15       Gold    Bills      F  171574

In [ ]:
!pip install pyspark py4j

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyspark in /usr/local/lib/python3.8/dist-packages (3.3.1)
Requirement already satisfied: py4j in /usr/local/lib/python3.8/dist-packages (0.10.9.5)

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.getOrCreate()

In [ ]:
spark.conf.set("spark.sql.legacy.timeParserPolicy","LEGACY")

In [ ]:
DF = spark.read.csv("/content/drive/MyDrive/data/Creditcard.csv", inferSchema=True, header = True)

In [ ]:
DF.show()

+-----+--------------------+---------+---------+--------+------+------+
|index|                City|     Date|Card Type|Exp Type|Gender|Amount|
+-----+--------------------+---------+---------+--------+------+------+
|    0|        Delhi, India|29-Oct-14|     Gold|   Bills|     F| 82475|
|    1|Greater Mumbai, I...|22-Aug-14| Platinum|   Bills|     F| 32555|
|    2|    Bengaluru, India|27-Aug-14|   Silver|   Bills|     F|101738|
|    3|Greater Mumbai, I...|12-Apr-14|Signature|   Bills|     F|123424|
|    4|    Bengaluru, India| 5-May-15|     Gold|   Bills|     F|171574|
|    5|        Delhi, India| 8-Sep-14|   Silver|   Bills|     F|100036|
|    6|        Delhi, India|24-Feb-15|     Gold|   Bills|     F|143250|
|    7|Greater Mumbai, I...|26-Jun-14| Platinum|   Bills|     F|150980|
|    8|        Delhi, India|28-Mar-14|   Silver|   Bills|     F|192247|
|    9|        Delhi, India| 1-Sep-14| Platinum|   Bills|     F| 67932|
|   10|        Delhi, India|22-Jun-14| Platinum|   Bills|     F|280061|
|   11|Greater Mumbai, I...| 7-Dec-13|Signature|   Bills|     F|278036|
|   12|Greater Mumbai, I...| 7-Aug-14|     Gold|   Bills|     F| 19226|
|   13|        Delhi, India|27-Apr-14|Signature|   Bills|     F|254359|
|   14|Greater Mumbai, I...|15-Aug-14|Signature|   Bills|     F|302834|
|   15|Greater Mumbai, I...|28-Nov-14| Platinum|   Bills|     F|647116|
|   16|Greater Mumbai, I...|14-Jun-14|Signature|   Bills|     F|421878|
|   17|Greater Mumbai, I...|30-Mar-15|     Gold|   Bills|     F|986379|
|   18|Greater Mumbai, I...|15-Mar-14| Platinum|   Bills|     F|213047|
|   19|Greater Mumbai, I...| 9-Nov-13| Platinum|   Bills|     F|735566|
+-----+--------------------+---------+---------+--------+------+------+
only showing top 20 rows

In [ ]:
DF = DF.withColumnRenamed("Card Type","CardType")

In [ ]:
DF = DF.withColumnRenamed("Exp Type","ExpType")

In [ ]:
DF.show()

+-----+--------------------+---------+---------+-------+------+------+
|index|                City|     Date| CardType|ExpType|Gender|Amount|
+-----+--------------------+---------+---------+-------+------+------+
|    0|        Delhi, India|29-Oct-14|     Gold|  Bills|     F| 82475|
|    1|Greater Mumbai, I...|22-Aug-14| Platinum|  Bills|     F| 32555|
|    2|    Bengaluru, India|27-Aug-14|   Silver|  Bills|     F|101738|
|    3|Greater Mumbai, I...|12-Apr-14|Signature|  Bills|     F|123424|
|    4|    Bengaluru, India| 5-May-15|     Gold|  Bills|     F|171574|
|    5|        Delhi, India| 8-Sep-14|   Silver|  Bills|     F|100036|
|    6|        Delhi, India|24-Feb-15|     Gold|  Bills|     F|143250|
|    7|Greater Mumbai, I...|26-Jun-14| Platinum|  Bills|     F|150980|
|    8|        Delhi, India|28-Mar-14|   Silver|  Bills|     F|192247|
|    9|        Delhi, India| 1-Sep-14| Platinum|  Bills|     F| 67932|
|   10|        Delhi, India|22-Jun-14| Platinum|  Bills|     F|280061|
|   11|Greater Mumbai, I...| 7-Dec-13|Signature|  Bills|     F|278036|
|   12|Greater Mumbai, I...| 7-Aug-14|     Gold|  Bills|     F| 19226|
|   13|        Delhi, India|27-Apr-14|Signature|  Bills|     F|254359|
|   14|Greater Mumbai, I...|15-Aug-14|Signature|  Bills|     F|302834|
|   15|Greater Mumbai, I...|28-Nov-14| Platinum|  Bills|     F|647116|
|   16|Greater Mumbai, I...|14-Jun-14|Signature|  Bills|     F|421878|
|   17|Greater Mumbai, I...|30-Mar-15|     Gold|  Bills|     F|986379|
|   18|Greater Mumbai, I...|15-Mar-14| Platinum|  Bills|     F|213047|
|   19|Greater Mumbai, I...| 9-Nov-13| Platinum|  Bills|     F|735566|
+-----+--------------------+---------+---------+-------+------+------+
only showing top 20 rows

In [ ]:
DF.filter(DF.City.isNull()).show()

+-----+----+----+--------+-------+------+------+
|index|City|Date|CardType|ExpType|Gender|Amount|
+-----+----+----+--------+-------+------+------+
+-----+----+----+--------+-------+------+------+

In [ ]:
DF.filter(DF.Date.isNull()).show()

+-----+----+----+--------+-------+------+------+
|index|City|Date|CardType|ExpType|Gender|Amount|
+-----+----+----+--------+-------+------+------+
+-----+----+----+--------+-------+------+------+

In [ ]:
DF.filter(DF.CardType.isNull()).show()

+-----+----+----+--------+-------+------+------+
|index|City|Date|CardType|ExpType|Gender|Amount|
+-----+----+----+--------+-------+------+------+
+-----+----+----+--------+-------+------+------+

In [ ]:
DF.filter(DF.ExpType.isNull()).show()

+-----+----+----+--------+-------+------+------+
|index|City|Date|CardType|ExpType|Gender|Amount|
+-----+----+----+--------+-------+------+------+
+-----+----+----+--------+-------+------+------+

In [ ]:
DF.filter(DF.Gender.isNull()).show()

+-----+----+----+--------+-------+------+------+
|index|City|Date|CardType|ExpType|Gender|Amount|
+-----+----+----+--------+-------+------+------+
+-----+----+----+--------+-------+------+------+

In [ ]:
DF.filter(DF.Amount.isNull()).show()

+-----+----+----+--------+-------+------+------+
|index|City|Date|CardType|ExpType|Gender|Amount|
+-----+----+----+--------+-------+------+------+
+-----+----+----+--------+-------+------+------+

In [ ]:
DF.printSchema()

root
 |-- index: integer (nullable = true)
 |-- City: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- CardType: string (nullable = true)
 |-- ExpType: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Amount: integer (nullable = true)

In [ ]:
DF.describe().show()

+-------+-----------------+----------------+--------+--------+-------+------+------------------+
|summary|            index|            City|    Date|CardType|ExpType|Gender|            Amount|
+-------+-----------------+----------------+--------+--------+-------+------+------------------+
|  count|            26052|           26052|   26052|   26052|  26052| 26052|             26052|
|   mean|          13025.5|            null|    null|    null|   null|  null| 156411.5374251497|
| stddev|7520.708942646298|            null|    null|    null|   null|  null|103063.25428673124|
|    min|                0| Achalpur, India|1-Apr-14|    Gold|  Bills|     F|              1005|
|    max|            26051|Zunheboto, India|9-Sep-14|  Silver| Travel|     M|            998077|
+-------+-----------------+----------------+--------+--------+-------+------+------------------+

In [ ]:
from pyspark.sql.functions import to_date,col

In [ ]:
from pyspark.sql import functions as F

In [ ]:
DF = DF.withColumn("Date" , F.regexp_replace("Date" , "Jan" , "01"))

In [ ]:
DF = DF.withColumn("Date" , F.regexp_replace("Date" , "Feb" , "02"))

In [ ]:
DF = DF.withColumn("Date" , F.regexp_replace("Date" , "Mar" , "03"))

In [ ]:
DF = DF.withColumn("Date" , F.regexp_replace("Date" , "Apr" , "04"))

In [ ]:
DF = DF.withColumn("Date" , F.regexp_replace("Date" , "May" , "05"))

In [ ]:
DF = DF.withColumn("Date" , F.regexp_replace("Date" , "Jun" , "06"))

In [ ]:
DF = DF.withColumn("Date" , F.regexp_replace("Date" , "Jul" , "07"))

In [ ]:
DF = DF.withColumn("Date" , F.regexp_replace("Date" , "Aug" , "08"))

In [ ]:
DF = DF.withColumn("Date" , F.regexp_replace("Date" , "Sep" , "09"))

In [ ]:
DF = DF.withColumn("Date" , F.regexp_replace("Date" , "Oct" , "10"))

In [ ]:
DF = DF.withColumn("Date" , F.regexp_replace("Date" , "Nov" , "11"))

In [ ]:
DF = DF.withColumn("Date" , F.regexp_replace("Date" , "Dec" , "12"))

In [ ]:
DF.show()

+-----+--------------------+--------+---------+-------+------+------+
|index|                City|    Date| CardType|ExpType|Gender|Amount|
+-----+--------------------+--------+---------+-------+------+------+
|    0|        Delhi, India|29-10-14|     Gold|  Bills|     F| 82475|
|    1|Greater Mumbai, I...|22-08-14| Platinum|  Bills|     F| 32555|
|    2|    Bengaluru, India|27-08-14|   Silver|  Bills|     F|101738|
|    3|Greater Mumbai, I...|12-04-14|Signature|  Bills|     F|123424|
|    4|    Bengaluru, India| 5-05-15|     Gold|  Bills|     F|171574|
|    5|        Delhi, India| 8-09-14|   Silver|  Bills|     F|100036|
|    6|        Delhi, India|24-02-15|     Gold|  Bills|     F|143250|
|    7|Greater Mumbai, I...|26-06-14| Platinum|  Bills|     F|150980|
|    8|        Delhi, India|28-03-14|   Silver|  Bills|     F|192247|
|    9|        Delhi, India| 1-09-14| Platinum|  Bills|     F| 67932|
|   10|        Delhi, India|22-06-14| Platinum|  Bills|     F|280061|
|   11|Greater Mumbai, I...| 7-12-13|Signature|  Bills|     F|278036|
|   12|Greater Mumbai, I...| 7-08-14|     Gold|  Bills|     F| 19226|
|   13|        Delhi, India|27-04-14|Signature|  Bills|     F|254359|
|   14|Greater Mumbai, I...|15-08-14|Signature|  Bills|     F|302834|
|   15|Greater Mumbai, I...|28-11-14| Platinum|  Bills|     F|647116|
|   16|Greater Mumbai, I...|14-06-14|Signature|  Bills|     F|421878|
|   17|Greater Mumbai, I...|30-03-15|     Gold|  Bills|     F|986379|
|   18|Greater Mumbai, I...|15-03-14| Platinum|  Bills|     F|213047|
|   19|Greater Mumbai, I...| 9-11-13| Platinum|  Bills|     F|735566|
+-----+--------------------+--------+---------+-------+------+------+
only showing top 20 rows

In [ ]:
DF = DF.withColumn("Date",to_date("Date","dd-MM-yy"))

In [ ]:
DF.printSchema()

root
 |-- index: integer (nullable = true)
 |-- City: string (nullable = true)
 |-- Date: date (nullable = true)
 |-- CardType: string (nullable = true)
 |-- ExpType: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Amount: integer (nullable = true)

In [ ]:
DF = DF.drop(col("index"))

In [ ]:
DF = DF.withColumn('year', col('Date').substr(1,4))

In [ ]:
DF = DF.drop(col("Date"))

In [ ]:
data.mean()

<ipython-input-127-abc01cf6c622>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  data.mean()

index      13025.500000
Amount    156411.537425
dtype: float64

In [ ]:
import numpy as np

In [ ]:
import pandas as pd

In [ ]:
DF = DF.withColumn(
    'spending',
    F.when((F.col("Amount") >= '156422'), 1)\
    .when((F.col("Amount") < '156411') , 0)\
    .otherwise(0)
)

In [ ]:
DF.show()

+--------------------+---------+-------+------+------+----+--------+
|                City| CardType|ExpType|Gender|Amount|year|spending|
+--------------------+---------+-------+------+------+----+--------+
|        Delhi, India|     Gold|  Bills|     F| 82475|2014|       0|
|Greater Mumbai, I...| Platinum|  Bills|     F| 32555|2014|       0|
|    Bengaluru, India|   Silver|  Bills|     F|101738|2014|       0|
|Greater Mumbai, I...|Signature|  Bills|     F|123424|2014|       0|
|    Bengaluru, India|     Gold|  Bills|     F|171574|2015|       1|
|        Delhi, India|   Silver|  Bills|     F|100036|2014|       0|
|        Delhi, India|     Gold|  Bills|     F|143250|2015|       0|
|Greater Mumbai, I...| Platinum|  Bills|     F|150980|2014|       0|
|        Delhi, India|   Silver|  Bills|     F|192247|2014|       1|
|        Delhi, India| Platinum|  Bills|     F| 67932|2014|       0|
|        Delhi, India| Platinum|  Bills|     F|280061|2014|       1|
|Greater Mumbai, I...|Signature|  Bills|     F|278036|2013|       1|
|Greater Mumbai, I...|     Gold|  Bills|     F| 19226|2014|       0|
|        Delhi, India|Signature|  Bills|     F|254359|2014|       1|
|Greater Mumbai, I...|Signature|  Bills|     F|302834|2014|       1|
|Greater Mumbai, I...| Platinum|  Bills|     F|647116|2014|       1|
|Greater Mumbai, I...|Signature|  Bills|     F|421878|2014|       1|
|Greater Mumbai, I...|     Gold|  Bills|     F|986379|2015|       1|
|Greater Mumbai, I...| Platinum|  Bills|     F|213047|2014|       1|
|Greater Mumbai, I...| Platinum|  Bills|     F|735566|2013|       1|
+--------------------+---------+-------+------+------+----+--------+
only showing top 20 rows

In [ ]:
DF.printSchema

In [ ]:
DF = DF.withColumn("year",DF.year.cast('int'))

In [ ]:
from pyspark.ml import Pipeline
from pyspark.ml.classification import DecisionTreeClassifier
from pyspark.ml.feature import StringIndexer, VectorIndexer
from pyspark.ml.evaluation import MulticlassClassificationEvaluator

In [ ]:
from pyspark.ml.linalg import Vectors

In [ ]:
from pyspark.ml.feature import VectorAssembler

In [ ]:
from pyspark.ml.feature import StringIndexer

In [ ]:
indexerC = StringIndexer(inputCol="City", outputCol="CityIndex")

In [ ]:
DF = indexerC.fit(DF).transform(DF)

In [ ]:
indexerD = StringIndexer(inputCol="CardType", outputCol="CardIndex")

In [ ]:
DF = indexerD.fit(DF).transform(DF)

In [ ]:
indexerEx = StringIndexer(inputCol="ExpType", outputCol="ExpIndex")

In [ ]:
DF = indexerEx.fit(DF).transform(DF)

In [ ]:
indexerG = StringIndexer(inputCol="Gender", outputCol="genderIndex")

In [ ]:
DF = indexerG.fit(DF).transform(DF)

In [ ]:
DF.show()

+--------------------+---------+-------+------+------+----+--------+---------+---------+--------+-----------+
|                City| CardType|ExpType|Gender|Amount|year|spending|CityIndex|CardIndex|ExpIndex|genderIndex|
+--------------------+---------+-------+------+------+----+--------+---------+---------+--------+-----------+
|        Delhi, India|     Gold|  Bills|     F| 82475|2014|       0|      3.0|      3.0|     2.0|        0.0|
|Greater Mumbai, I...| Platinum|  Bills|     F| 32555|2014|       0|      1.0|      2.0|     2.0|        0.0|
|    Bengaluru, India|   Silver|  Bills|     F|101738|2014|       0|      0.0|      0.0|     2.0|        0.0|
|Greater Mumbai, I...|Signature|  Bills|     F|123424|2014|       0|      1.0|      1.0|     2.0|        0.0|
|    Bengaluru, India|     Gold|  Bills|     F|171574|2015|       1|      0.0|      3.0|     2.0|        0.0|
|        Delhi, India|   Silver|  Bills|     F|100036|2014|       0|      3.0|      0.0|     2.0|        0.0|
|        Delhi, India|     Gold|  Bills|     F|143250|2015|       0|      3.0|      3.0|     2.0|        0.0|
|Greater Mumbai, I...| Platinum|  Bills|     F|150980|2014|       0|      1.0|      2.0|     2.0|        0.0|
|        Delhi, India|   Silver|  Bills|     F|192247|2014|       1|      3.0|      0.0|     2.0|        0.0|
|        Delhi, India| Platinum|  Bills|     F| 67932|2014|       0|      3.0|      2.0|     2.0|        0.0|
|        Delhi, India| Platinum|  Bills|     F|280061|2014|       1|      3.0|      2.0|     2.0|        0.0|
|Greater Mumbai, I...|Signature|  Bills|     F|278036|2013|       1|      1.0|      1.0|     2.0|        0.0|
|Greater Mumbai, I...|     Gold|  Bills|     F| 19226|2014|       0|      1.0|      3.0|     2.0|        0.0|
|        Delhi, India|Signature|  Bills|     F|254359|2014|       1|      3.0|      1.0|     2.0|        0.0|
|Greater Mumbai, I...|Signature|  Bills|     F|302834|2014|       1|      1.0|      1.0|     2.0|        0.0|
|Greater Mumbai, I...| Platinum|  Bills|     F|647116|2014|       1|      1.0|      2.0|     2.0|        0.0|
|Greater Mumbai, I...|Signature|  Bills|     F|421878|2014|       1|      1.0|      1.0|     2.0|        0.0|
|Greater Mumbai, I...|     Gold|  Bills|     F|986379|2015|       1|      1.0|      3.0|     2.0|        0.0|
|Greater Mumbai, I...| Platinum|  Bills|     F|213047|2014|       1|      1.0|      2.0|     2.0|        0.0|
|Greater Mumbai, I...| Platinum|  Bills|     F|735566|2013|       1|      1.0|      2.0|     2.0|        0.0|
+--------------------+---------+-------+------+------+----+--------+---------+---------+--------+-----------+
only showing top 20 rows

In [ ]:
assembler = VectorAssembler(
    inputCols=["CardIndex", "genderIndex", "year", "ExpIndex"],
    outputCol="features")

In [ ]:
label_indexer = StringIndexer().setInputCol("spending").setOutputCol("label")

In [ ]:
(trainingData, testData) = DF.randomSplit([0.8, 0.2])

In [ ]:
dt = DecisionTreeClassifier(labelCol="label", featuresCol="features")

In [ ]:
pipeline = Pipeline(stages=[label_indexer, assembler, dt])

In [ ]:
model = pipeline.fit(trainingData)

In [ ]:
predictions = model.transform(testData)

In [ ]:
predictions.select("prediction", "label", "features").show(20)

+----------+-----+--------------------+
|prediction|label|            features|
+----------+-----+--------------------+
|       1.0|  0.0|[3.0,1.0,2015.0,4.0]|
|       0.0|  1.0|[1.0,0.0,2014.0,4.0]|
|       1.0|  0.0|[0.0,0.0,2015.0,2.0]|
|       0.0|  0.0|[2.0,1.0,2014.0,4.0]|
|       0.0|  1.0|[0.0,1.0,2014.0,4.0]|
|       1.0|  0.0|[2.0,0.0,2015.0,4.0]|
|       1.0|  0.0|[3.0,0.0,2014.0,2.0]|
|       1.0|  0.0|[2.0,1.0,2013.0,0.0]|
|       0.0|  0.0|[1.0,0.0,2014.0,1.0]|
|       0.0|  1.0|[0.0,1.0,2014.0,3.0]|
|       1.0|  0.0|[3.0,0.0,2015.0,2.0]|
|       1.0|  0.0|[3.0,0.0,2014.0,2.0]|
|       1.0|  0.0|[3.0,0.0,2014.0,2.0]|
|       1.0|  0.0|[3.0,0.0,2014.0,2.0]|
|       1.0|  0.0|[3.0,0.0,2014.0,2.0]|
|       1.0|  0.0|[3.0,0.0,2013.0,2.0]|
|       1.0|  1.0|[3.0,0.0,2014.0,2.0]|
|       1.0|  1.0|[3.0,0.0,2014.0,2.0]|
|       1.0|  1.0|[3.0,0.0,2014.0,2.0]|
|       1.0|  1.0|[3.0,0.0,2014.0,2.0]|
+----------+-----+--------------------+
only showing top 20 rows

In [ ]:
evaluator = MulticlassClassificationEvaluator(
    labelCol="label", predictionCol="prediction", metricName="accuracy")

In [ ]:
accuracy = evaluator.evaluate(predictions)

In [ ]:
print("Test Error = %g " % (1.0 - accuracy))

Test Error = 0.483346

In [ ]:
treeModel = model.stages[2]

In [ ]:
print(treeModel)

DecisionTreeClassificationModel: uid=DecisionTreeClassifier_3d46e6f408c6, depth=5, numNodes=41, numClasses=2, numFeatures=4

In [ ]:
from sklearn.metrics import confusion_matrix

In [ ]:
y_pred=predictions.select("prediction").collect()

In [ ]:
y_orig=predictions.select("label").collect()

In [ ]:
cm = confusion_matrix(y_orig, y_pred)
print("Confusion Matrix:")
print(cm)

Confusion Matrix:
[[2168  485]
 [2040  531]]